# Backend
backend/.env
backend/vendor/
backend/storage/logs/
backend/storage/app/public/
backend/bootstrap/cache/*.php
backend/database/database.sqlite

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# Sistema
.DS_Store
Thumbs.db
